# PostgreSQL Configuration
POSTGRES_DB=pmvcloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak_password

# Keycloak Admin Configuration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Ports
POSTGRES_PORT=5432
KEYCLOAK_PORT=5433
